* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
.container {
  max-width: 1440px;
  margin: auto;
}

.citiy__data {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 200px;
  text-align: center;
  cursor: pointer;
}
.citizen {
  cursor: pointer;
  margin-bottom: 10px;
}
.citiy__tooltip {
  position: absolute;
}
